(declare-const n0_2 Bool)
(declare-const n0_3 Bool)
(declare-const n0_1 Bool)
(declare-const n2_2 Bool)
(declare-const n2_3 Bool)
(declare-const n2_1 Bool)
(declare-const n3_2 Bool)
(declare-const n3_3 Bool)
(declare-const n3_1 Bool)
(declare-const n4_2 Bool)
(declare-const n4_3 Bool)
(declare-const n4_1 Bool)
(declare-const n5_2 Bool)
(declare-const n5_3 Bool)
(declare-const n5_1 Bool)
(declare-const n6_2 Bool)
(declare-const n6_3 Bool)
(declare-const n6_1 Bool)
(declare-const n7_2 Bool)
(declare-const n7_3 Bool)
(declare-const n7_1 Bool)
(declare-const n1_3 Bool)
(declare-const n1_2 Bool)
(declare-const n1_1 Bool)
(assert (or (not n0_2 ) (not n0_3 ) ))
(assert (or (not n0_1 ) (not n0_3 ) ))
(assert (or (not n0_1 ) (not n0_2 ) ))
(assert (or (not n2_2 ) (not n2_3 ) ))
(assert (or (not n2_1 ) (not n2_3 ) ))
(assert (or (not n2_1 ) (not n2_2 ) ))
(assert (or (not n3_2 ) (not n3_3 ) ))
(assert (or (not n3_1 ) (not n3_3 ) ))
(assert (or (not n3_1 ) (not n3_2 ) ))
(assert (or (not n4_2 ) (not n4_3 ) ))
(assert (or (not n4_1 ) (not n4_3 ) ))
(assert (or (not n4_1 ) (not n4_2 ) ))
(assert (or (not n5_2 ) (not n5_3 ) ))
(assert (or (not n5_1 ) (not n5_3 ) ))
(assert (or (not n5_1 ) (not n5_2 ) ))
(assert (or (not n6_2 ) (not n6_3 ) ))
(assert (or (not n6_1 ) (not n6_3 ) ))
(assert (or (not n6_1 ) (not n6_2 ) ))
(assert (or (not n7_2 ) (not n7_3 ) ))
(assert (or (not n7_1 ) (not n7_3 ) ))
(assert (or (not n7_1 ) (not n7_2 ) ))
(assert (or (not n4_3 ) (not n2_3 ) ))
(assert (or (not n4_2 ) (not n2_2 ) ))
(assert (or (not n4_1 ) (not n2_1 ) ))
(assert (or (not n0_3 ) (not n4_3 ) ))
(assert (or (not n0_2 ) (not n4_2 ) ))
(assert (or (not n0_1 ) (not n4_1 ) ))
(assert (or (not n6_3 ) (not n0_3 ) ))
(assert (or (not n6_2 ) (not n0_2 ) ))
(assert (or (not n6_1 ) (not n0_1 ) ))
(assert (or (not n2_3 ) (not n6_3 ) ))
(assert (or (not n2_2 ) (not n6_2 ) ))
(assert (or (not n2_1 ) (not n6_1 ) ))
(assert (or (not n5_3 ) (not n2_3 ) ))
(assert (or (not n5_2 ) (not n2_2 ) ))
(assert (or (not n5_1 ) (not n2_1 ) ))
(assert (or (not n5_3 ) (not n6_3 ) ))
(assert (or (not n5_2 ) (not n6_2 ) ))
(assert (or (not n5_1 ) (not n6_1 ) ))
(assert (or (not n5_3 ) (not n0_3 ) ))
(assert (or (not n5_2 ) (not n0_2 ) ))
(assert (or (not n5_1 ) (not n0_1 ) ))
(assert (or (not n2_3 ) (not n0_3 ) ))
(assert (or (not n2_2 ) (not n0_2 ) ))
(assert (or (not n2_1 ) (not n0_1 ) ))
(assert (or (not n4_3 ) (not n5_3 ) ))
(assert (or (not n4_2 ) (not n5_2 ) ))
(assert (or (not n4_1 ) (not n5_1 ) ))
(assert (or (not n6_3 ) (not n4_3 ) ))
(assert (or (not n6_2 ) (not n4_2 ) ))
(assert (or (not n6_1 ) (not n4_1 ) ))
(assert (or (not n2_3 ) (not n3_3 ) ))
(assert (or (not n2_2 ) (not n3_2 ) ))
(assert (or (not n2_1 ) (not n3_1 ) ))
(assert (or (not n2_3 ) (not n1_3 ) ))
(assert (or (not n2_2 ) (not n1_2 ) ))
(assert (or (not n2_1 ) (not n1_1 ) ))
(assert (or (not n6_3 ) (not n1_3 ) ))
(assert (or (not n6_2 ) (not n1_2 ) ))
(assert (or (not n6_1 ) (not n1_1 ) ))
(assert (or (not n3_3 ) (not n7_3 ) ))
(assert (or (not n3_2 ) (not n7_2 ) ))
(assert (or (not n3_1 ) (not n7_1 ) ))
(assert (or (not n2_3 ) (not n7_3 ) ))
(assert (or (not n2_2 ) (not n7_2 ) ))
(assert (or (not n2_1 ) (not n7_1 ) ))
(assert (or (not n4_3 ) (not n7_3 ) ))
(assert (or (not n4_2 ) (not n7_2 ) ))
(assert (or (not n4_1 ) (not n7_1 ) ))
(assert (or (not n1_3 ) (not n0_3 ) ))
(assert (or (not n1_3 ) (not n0_2 ) ))
(assert (or (not n1_3 ) (not n0_1 ) ))
(assert (or (not n1_2 ) (not n0_3 ) ))
(assert (or (not n1_2 ) (not n0_2 ) ))
(assert (or (not n1_2 ) (not n0_1 ) ))
(assert (or (not n1_1 ) (not n0_3 ) ))
(assert (or (not n1_1 ) (not n0_2 ) ))
(assert (or (not n1_1 ) (not n0_1 ) ))
(assert (or (not n3_3 ) (not n0_3 ) ))
(assert (or (not n3_3 ) (not n0_2 ) ))
(assert (or (not n3_3 ) (not n0_1 ) ))
(assert (or (not n3_2 ) (not n0_3 ) ))
(assert (or (not n3_2 ) (not n0_2 ) ))
(assert (or (not n3_2 ) (not n0_1 ) ))
(assert (or (not n3_1 ) (not n0_3 ) ))
(assert (or (not n3_1 ) (not n0_2 ) ))
(assert (or (not n3_1 ) (not n0_1 ) ))
(assert (or (not n7_3 ) (not n0_3 ) ))
(assert (or (not n7_3 ) (not n0_2 ) ))
(assert (or (not n7_3 ) (not n0_1 ) ))
(assert (or (not n7_2 ) (not n0_3 ) ))
(assert (or (not n7_2 ) (not n0_2 ) ))
(assert (or (not n7_2 ) (not n0_1 ) ))
(assert (or (not n7_1 ) (not n0_3 ) ))
(assert (or (not n7_1 ) (not n0_2 ) ))
(assert (or (not n7_1 ) (not n0_1 ) ))
(assert (or (not n3_3 ) (not n1_3 ) ))
(assert (or (not n3_3 ) (not n1_2 ) ))
(assert (or (not n3_3 ) (not n1_1 ) ))
(assert (or (not n3_2 ) (not n1_3 ) ))
(assert (or (not n3_2 ) (not n1_2 ) ))
(assert (or (not n3_2 ) (not n1_1 ) ))
(assert (or (not n3_1 ) (not n1_3 ) ))
(assert (or (not n3_1 ) (not n1_2 ) ))
(assert (or (not n3_1 ) (not n1_1 ) ))
(assert (or (not n4_3 ) (not n1_3 ) ))
(assert (or (not n4_3 ) (not n1_2 ) ))
(assert (or (not n4_3 ) (not n1_1 ) ))
(assert (or (not n4_2 ) (not n1_3 ) ))
(assert (or (not n4_2 ) (not n1_2 ) ))
(assert (or (not n4_2 ) (not n1_1 ) ))
(assert (or (not n4_1 ) (not n1_3 ) ))
(assert (or (not n4_1 ) (not n1_2 ) ))
(assert (or (not n4_1 ) (not n1_1 ) ))
(assert (or (not n5_3 ) (not n1_3 ) ))
(assert (or (not n5_3 ) (not n1_2 ) ))
(assert (or (not n5_3 ) (not n1_1 ) ))
(assert (or (not n5_2 ) (not n1_3 ) ))
(assert (or (not n5_2 ) (not n1_2 ) ))
(assert (or (not n5_2 ) (not n1_1 ) ))
(assert (or (not n5_1 ) (not n1_3 ) ))
(assert (or (not n5_1 ) (not n1_2 ) ))
(assert (or (not n5_1 ) (not n1_1 ) ))
(assert (or (not n7_3 ) (not n1_3 ) ))
(assert (or (not n7_3 ) (not n1_2 ) ))
(assert (or (not n7_3 ) (not n1_1 ) ))
(assert (or (not n7_2 ) (not n1_3 ) ))
(assert (or (not n7_2 ) (not n1_2 ) ))
(assert (or (not n7_2 ) (not n1_1 ) ))
(assert (or (not n7_1 ) (not n1_3 ) ))
(assert (or (not n7_1 ) (not n1_2 ) ))
(assert (or (not n7_1 ) (not n1_1 ) ))
(assert (or (not n4_3 ) (not n3_3 ) ))
(assert (or (not n4_3 ) (not n3_2 ) ))
(assert (or (not n4_3 ) (not n3_1 ) ))
(assert (or (not n4_2 ) (not n3_3 ) ))
(assert (or (not n4_2 ) (not n3_2 ) ))
(assert (or (not n4_2 ) (not n3_1 ) ))
(assert (or (not n4_1 ) (not n3_3 ) ))
(assert (or (not n4_1 ) (not n3_2 ) ))
(assert (or (not n4_1 ) (not n3_1 ) ))
(assert (or (not n5_3 ) (not n3_3 ) ))
(assert (or (not n5_3 ) (not n3_2 ) ))
(assert (or (not n5_3 ) (not n3_1 ) ))
(assert (or (not n5_2 ) (not n3_3 ) ))
(assert (or (not n5_2 ) (not n3_2 ) ))
(assert (or (not n5_2 ) (not n3_1 ) ))
(assert (or (not n5_1 ) (not n3_3 ) ))
(assert (or (not n5_1 ) (not n3_2 ) ))
(assert (or (not n5_1 ) (not n3_1 ) ))
(assert (or (not n6_3 ) (not n3_3 ) ))
(assert (or (not n6_3 ) (not n3_2 ) ))
(assert (or (not n6_3 ) (not n3_1 ) ))
(assert (or (not n6_2 ) (not n3_3 ) ))
(assert (or (not n6_2 ) (not n3_2 ) ))
(assert (or (not n6_2 ) (not n3_1 ) ))
(assert (or (not n6_1 ) (not n3_3 ) ))
(assert (or (not n6_1 ) (not n3_2 ) ))
(assert (or (not n6_1 ) (not n3_1 ) ))
(assert (or (not n7_3 ) (not n5_3 ) ))
(assert (or (not n7_3 ) (not n5_2 ) ))
(assert (or (not n7_3 ) (not n5_1 ) ))
(assert (or (not n7_2 ) (not n5_3 ) ))
(assert (or (not n7_2 ) (not n5_2 ) ))
(assert (or (not n7_2 ) (not n5_1 ) ))
(assert (or (not n7_1 ) (not n5_3 ) ))
(assert (or (not n7_1 ) (not n5_2 ) ))
(assert (or (not n7_1 ) (not n5_1 ) ))
(assert (or (not n7_3 ) (not n6_3 ) ))
(assert (or (not n7_3 ) (not n6_2 ) ))
(assert (or (not n7_3 ) (not n6_1 ) ))
(assert (or (not n7_2 ) (not n6_3 ) ))
(assert (or (not n7_2 ) (not n6_2 ) ))
(assert (or (not n7_2 ) (not n6_1 ) ))
(assert (or (not n7_1 ) (not n6_3 ) ))
(assert (or (not n7_1 ) (not n6_2 ) ))
(assert (or (not n7_1 ) (not n6_1 ) ))
(assert (or n7_3 n6_3 n5_3 n4_3 n3_3 n2_3 n1_3 n0_3 ))
(assert (or n7_2 n6_2 n5_2 n4_2 n3_2 n2_2 n1_2 n0_2 ))
(assert (or n7_1 n6_1 n5_1 n4_1 n3_1 n2_1 n1_1 n0_1 ))
(assert (or (not n1_2 ) (not n1_3 ) ))
(assert (or (not n1_1 ) (not n1_3 ) ))
(assert (or (not n1_1 ) (not n1_2 ) ))
(assert (or (not n0_3 ) (not n2_1 ) (not n4_2 ) n2_2 n0_2 n1_1 n6_3 n5_1 n4_1 n3_3 n4_3 n2_3 n5_2 n6_2 n6_1 n0_1 n7_3 n7_1 n1_3 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n2_3 ) (not n0_1 ) (not n4_2 ) n2_2 n0_2 n1_1 n6_3 n5_1 n4_1 n3_3 n4_3 n0_3 n5_2 n6_2 n6_1 n7_3 n7_1 n2_1 n1_3 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n2_2 ) (not n4_3 ) (not n0_1 ) n0_2 n1_1 n6_3 n5_1 n4_1 n3_3 n2_3 n0_3 n5_2 n6_2 n6_1 n7_3 n7_1 n2_1 n1_3 n4_2 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n2_3 ) (not n5_2 ) (not n0_1 ) n2_2 n0_2 n1_1 n6_3 n5_1 n4_1 n3_3 n4_3 n0_3 n6_2 n6_1 n7_3 n7_1 n2_1 n1_3 n4_2 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n4_3 ) (not n5_2 ) (not n0_1 ) n2_2 n0_2 n1_1 n6_3 n5_1 n4_1 n3_3 n2_3 n0_3 n6_2 n6_1 n7_3 n7_1 n2_1 n1_3 n4_2 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n0_3 ) (not n5_2 ) (not n2_1 ) n2_2 n0_2 n1_1 n6_3 n5_1 n4_1 n3_3 n4_3 n2_3 n6_2 n6_1 n0_1 n7_3 n7_1 n1_3 n4_2 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n4_3 ) (not n5_2 ) (not n2_1 ) n2_2 n0_2 n1_1 n6_3 n5_1 n4_1 n3_3 n2_3 n0_3 n6_2 n6_1 n0_1 n7_3 n7_1 n1_3 n4_2 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n0_2 ) (not n4_3 ) (not n2_1 ) n2_2 n1_1 n6_3 n5_1 n4_1 n3_3 n2_3 n0_3 n5_2 n6_2 n6_1 n0_1 n7_3 n7_1 n1_3 n4_2 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n2_2 ) (not n4_1 ) (not n0_3 ) n0_2 n1_1 n6_3 n5_1 n3_3 n4_3 n2_3 n5_2 n6_2 n6_1 n0_1 n7_3 n7_1 n2_1 n1_3 n4_2 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n0_2 ) (not n4_1 ) (not n2_3 ) n2_2 n1_1 n6_3 n5_1 n3_3 n4_3 n0_3 n5_2 n6_2 n6_1 n0_1 n7_3 n7_1 n2_1 n1_3 n4_2 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n4_1 ) (not n0_3 ) (not n5_2 ) n2_2 n0_2 n1_1 n6_3 n5_1 n3_3 n4_3 n2_3 n6_2 n6_1 n0_1 n7_3 n7_1 n2_1 n1_3 n4_2 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n4_1 ) (not n2_3 ) (not n5_2 ) n2_2 n0_2 n1_1 n6_3 n5_1 n3_3 n4_3 n0_3 n6_2 n6_1 n0_1 n7_3 n7_1 n2_1 n1_3 n4_2 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n2_2 ) (not n5_1 ) (not n4_3 ) n0_2 n1_1 n6_3 n4_1 n3_3 n2_3 n0_3 n5_2 n6_2 n6_1 n0_1 n7_3 n7_1 n2_1 n1_3 n4_2 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n2_2 ) (not n5_1 ) (not n0_3 ) n0_2 n1_1 n6_3 n4_1 n3_3 n4_3 n2_3 n5_2 n6_2 n6_1 n0_1 n7_3 n7_1 n2_1 n1_3 n4_2 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n2_2 ) (not n4_1 ) (not n5_3 ) n0_2 n1_1 n6_3 n5_1 n3_3 n4_3 n2_3 n0_3 n5_2 n6_2 n6_1 n0_1 n7_3 n7_1 n2_1 n1_3 n4_2 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n2_2 ) (not n0_1 ) (not n5_3 ) n0_2 n1_1 n6_3 n5_1 n4_1 n3_3 n4_3 n2_3 n0_3 n5_2 n6_2 n6_1 n7_3 n7_1 n2_1 n1_3 n4_2 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n4_1 ) (not n6_2 ) (not n5_3 ) n2_2 n0_2 n1_1 n6_3 n5_1 n3_3 n4_3 n2_3 n0_3 n5_2 n6_1 n0_1 n7_3 n7_1 n2_1 n1_3 n4_2 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n6_2 ) (not n2_1 ) (not n5_3 ) n2_2 n0_2 n1_1 n6_3 n5_1 n4_1 n3_3 n4_3 n2_3 n0_3 n5_2 n6_1 n0_1 n7_3 n7_1 n1_3 n4_2 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n6_2 ) (not n0_1 ) (not n5_3 ) n2_2 n0_2 n1_1 n6_3 n5_1 n4_1 n3_3 n4_3 n2_3 n0_3 n5_2 n6_1 n7_3 n7_1 n2_1 n1_3 n4_2 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n0_2 ) (not n2_1 ) (not n5_3 ) n2_2 n1_1 n6_3 n5_1 n4_1 n3_3 n4_3 n2_3 n0_3 n5_2 n6_2 n6_1 n0_1 n7_3 n7_1 n1_3 n4_2 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n0_2 ) (not n4_1 ) (not n5_3 ) n2_2 n1_1 n6_3 n5_1 n3_3 n4_3 n2_3 n0_3 n5_2 n6_2 n6_1 n0_1 n7_3 n7_1 n2_1 n1_3 n4_2 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n2_1 ) (not n4_2 ) (not n5_3 ) n2_2 n0_2 n1_1 n6_3 n5_1 n4_1 n3_3 n4_3 n2_3 n0_3 n5_2 n6_2 n6_1 n0_1 n7_3 n7_1 n1_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n0_1 ) (not n4_2 ) (not n5_3 ) n2_2 n0_2 n1_1 n6_3 n5_1 n4_1 n3_3 n4_3 n2_3 n0_3 n5_2 n6_2 n6_1 n7_3 n7_1 n2_1 n1_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n4_3 ) (not n6_2 ) (not n2_1 ) n2_2 n0_2 n1_1 n6_3 n5_1 n4_1 n3_3 n2_3 n0_3 n5_2 n6_1 n0_1 n7_3 n7_1 n1_3 n4_2 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n4_3 ) (not n6_2 ) (not n0_1 ) n2_2 n0_2 n1_1 n6_3 n5_1 n4_1 n3_3 n2_3 n0_3 n5_2 n6_1 n7_3 n7_1 n2_1 n1_3 n4_2 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n5_1 ) (not n4_3 ) (not n6_2 ) n2_2 n0_2 n1_1 n6_3 n4_1 n3_3 n2_3 n0_3 n5_2 n6_1 n0_1 n7_3 n7_1 n2_1 n1_3 n4_2 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n4_1 ) (not n2_3 ) (not n6_2 ) n2_2 n0_2 n1_1 n6_3 n5_1 n3_3 n4_3 n0_3 n5_2 n6_1 n0_1 n7_3 n7_1 n2_1 n1_3 n4_2 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n4_1 ) (not n0_3 ) (not n6_2 ) n2_2 n0_2 n1_1 n6_3 n5_1 n3_3 n4_3 n2_3 n5_2 n6_1 n0_1 n7_3 n7_1 n2_1 n1_3 n4_2 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n5_1 ) (not n0_3 ) (not n6_2 ) n2_2 n0_2 n1_1 n6_3 n4_1 n3_3 n4_3 n2_3 n5_2 n6_1 n0_1 n7_3 n7_1 n2_1 n1_3 n4_2 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n5_1 ) (not n2_3 ) (not n6_2 ) n2_2 n0_2 n1_1 n6_3 n4_1 n3_3 n4_3 n0_3 n5_2 n6_1 n0_1 n7_3 n7_1 n2_1 n1_3 n4_2 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n2_3 ) (not n6_2 ) (not n0_1 ) n2_2 n0_2 n1_1 n6_3 n5_1 n4_1 n3_3 n4_3 n0_3 n5_2 n6_1 n7_3 n7_1 n2_1 n1_3 n4_2 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n0_3 ) (not n6_2 ) (not n2_1 ) n2_2 n0_2 n1_1 n6_3 n5_1 n4_1 n3_3 n4_3 n2_3 n5_2 n6_1 n0_1 n7_3 n7_1 n1_3 n4_2 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n6_3 ) (not n5_2 ) (not n0_1 ) n2_2 n0_2 n1_1 n5_1 n4_1 n3_3 n4_3 n2_3 n0_3 n6_2 n6_1 n7_3 n7_1 n2_1 n1_3 n4_2 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n6_3 ) (not n5_2 ) (not n2_1 ) n2_2 n0_2 n1_1 n5_1 n4_1 n3_3 n4_3 n2_3 n0_3 n6_2 n6_1 n0_1 n7_3 n7_1 n1_3 n4_2 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n6_3 ) (not n4_1 ) (not n5_2 ) n2_2 n0_2 n1_1 n5_1 n3_3 n4_3 n2_3 n0_3 n6_2 n6_1 n0_1 n7_3 n7_1 n2_1 n1_3 n4_2 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n2_3 ) (not n5_2 ) (not n6_1 ) n2_2 n0_2 n1_1 n6_3 n5_1 n4_1 n3_3 n4_3 n0_3 n6_2 n0_1 n7_3 n7_1 n2_1 n1_3 n4_2 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n0_3 ) (not n5_2 ) (not n6_1 ) n2_2 n0_2 n1_1 n6_3 n5_1 n4_1 n3_3 n4_3 n2_3 n6_2 n0_1 n7_3 n7_1 n2_1 n1_3 n4_2 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n2_2 ) (not n6_3 ) (not n4_1 ) n0_2 n1_1 n5_1 n3_3 n4_3 n2_3 n0_3 n5_2 n6_2 n6_1 n0_1 n7_3 n7_1 n2_1 n1_3 n4_2 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n2_2 ) (not n6_3 ) (not n5_1 ) n0_2 n1_1 n4_1 n3_3 n4_3 n2_3 n0_3 n5_2 n6_2 n6_1 n0_1 n7_3 n7_1 n2_1 n1_3 n4_2 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n2_2 ) (not n6_3 ) (not n0_1 ) n0_2 n1_1 n5_1 n4_1 n3_3 n4_3 n2_3 n0_3 n5_2 n6_2 n6_1 n7_3 n7_1 n2_1 n1_3 n4_2 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n0_2 ) (not n6_3 ) (not n5_1 ) n2_2 n1_1 n4_1 n3_3 n4_3 n2_3 n0_3 n5_2 n6_2 n6_1 n0_1 n7_3 n7_1 n2_1 n1_3 n4_2 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n0_2 ) (not n6_3 ) (not n2_1 ) n2_2 n1_1 n5_1 n4_1 n3_3 n4_3 n2_3 n0_3 n5_2 n6_2 n6_1 n0_1 n7_3 n7_1 n1_3 n4_2 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n0_2 ) (not n6_3 ) (not n4_1 ) n2_2 n1_1 n5_1 n3_3 n4_3 n2_3 n0_3 n5_2 n6_2 n6_1 n0_1 n7_3 n7_1 n2_1 n1_3 n4_2 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n6_3 ) (not n0_1 ) (not n4_2 ) n2_2 n0_2 n1_1 n5_1 n4_1 n3_3 n4_3 n2_3 n0_3 n5_2 n6_2 n6_1 n7_3 n7_1 n2_1 n1_3 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n6_3 ) (not n5_1 ) (not n4_2 ) n2_2 n0_2 n1_1 n4_1 n3_3 n4_3 n2_3 n0_3 n5_2 n6_2 n6_1 n0_1 n7_3 n7_1 n2_1 n1_3 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n6_3 ) (not n2_1 ) (not n4_2 ) n2_2 n0_2 n1_1 n5_1 n4_1 n3_3 n4_3 n2_3 n0_3 n5_2 n6_2 n6_1 n0_1 n7_3 n7_1 n1_3 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n7_3 ) (not n2_1 ) (not n4_2 ) n2_2 n0_2 n1_1 n6_3 n5_1 n4_1 n3_3 n4_3 n2_3 n0_3 n5_2 n6_2 n6_1 n0_1 n7_1 n1_3 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n5_1 ) (not n2_3 ) (not n4_2 ) n2_2 n0_2 n1_1 n6_3 n4_1 n3_3 n4_3 n0_3 n5_2 n6_2 n6_1 n0_1 n7_3 n7_1 n2_1 n1_3 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n5_1 ) (not n0_3 ) (not n4_2 ) n2_2 n0_2 n1_1 n6_3 n4_1 n3_3 n4_3 n2_3 n5_2 n6_2 n6_1 n0_1 n7_3 n7_1 n2_1 n1_3 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n2_3 ) (not n7_1 ) (not n4_2 ) n2_2 n0_2 n1_1 n6_3 n5_1 n4_1 n3_3 n4_3 n0_3 n5_2 n6_2 n6_1 n0_1 n7_3 n2_1 n1_3 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n0_3 ) (not n6_1 ) (not n4_2 ) n2_2 n0_2 n1_1 n6_3 n5_1 n4_1 n3_3 n4_3 n2_3 n5_2 n6_2 n0_1 n7_3 n7_1 n2_1 n1_3 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n2_3 ) (not n6_1 ) (not n4_2 ) n2_2 n0_2 n1_1 n6_3 n5_1 n4_1 n3_3 n4_3 n0_3 n5_2 n6_2 n0_1 n7_3 n7_1 n2_1 n1_3 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n6_1 ) (not n4_2 ) (not n5_3 ) n2_2 n0_2 n1_1 n6_3 n5_1 n4_1 n3_3 n4_3 n2_3 n0_3 n5_2 n6_2 n0_1 n7_3 n7_1 n2_1 n1_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n4_3 ) (not n5_2 ) (not n6_1 ) n2_2 n0_2 n1_1 n6_3 n5_1 n4_1 n3_3 n2_3 n0_3 n6_2 n0_1 n7_3 n7_1 n2_1 n1_3 n4_2 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n7_3 ) (not n2_1 ) (not n3_2 ) n2_2 n0_2 n1_1 n6_3 n5_1 n4_1 n3_3 n4_3 n2_3 n0_3 n5_2 n6_2 n6_1 n0_1 n7_1 n1_3 n4_2 n5_3 n7_2 n1_2 n3_1 ))
(assert (or (not n6_2 ) (not n2_1 ) (not n1_3 ) n2_2 n0_2 n1_1 n6_3 n5_1 n4_1 n3_3 n4_3 n2_3 n0_3 n5_2 n6_1 n0_1 n7_3 n7_1 n4_2 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n0_2 ) (not n6_1 ) (not n5_3 ) n2_2 n1_1 n6_3 n5_1 n4_1 n3_3 n4_3 n2_3 n0_3 n5_2 n6_2 n0_1 n7_3 n7_1 n2_1 n1_3 n4_2 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n0_2 ) (not n2_3 ) (not n6_1 ) n2_2 n1_1 n6_3 n5_1 n4_1 n3_3 n4_3 n0_3 n5_2 n6_2 n0_1 n7_3 n7_1 n2_1 n1_3 n4_2 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n0_2 ) (not n5_1 ) (not n2_3 ) n2_2 n1_1 n6_3 n4_1 n3_3 n4_3 n0_3 n5_2 n6_2 n6_1 n0_1 n7_3 n7_1 n2_1 n1_3 n4_2 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n2_3 ) (not n6_1 ) (not n1_2 ) n2_2 n0_2 n1_1 n6_3 n5_1 n4_1 n3_3 n4_3 n0_3 n5_2 n6_2 n0_1 n7_3 n7_1 n2_1 n1_3 n4_2 n5_3 n7_2 n3_1 n3_2 ))
(assert (or (not n2_3 ) (not n7_1 ) (not n3_2 ) n2_2 n0_2 n1_1 n6_3 n5_1 n4_1 n3_3 n4_3 n0_3 n5_2 n6_2 n6_1 n0_1 n7_3 n2_1 n1_3 n4_2 n5_3 n7_2 n1_2 n3_1 ))
(assert (or (not n4_1 ) (not n2_3 ) (not n7_2 ) n2_2 n0_2 n1_1 n6_3 n5_1 n3_3 n4_3 n0_3 n5_2 n6_2 n6_1 n0_1 n7_3 n7_1 n2_1 n1_3 n4_2 n5_3 n1_2 n3_1 n3_2 ))
(assert (or (not n2_3 ) (not n7_2 ) (not n3_1 ) n2_2 n0_2 n1_1 n6_3 n5_1 n4_1 n3_3 n4_3 n0_3 n5_2 n6_2 n6_1 n0_1 n7_3 n7_1 n2_1 n1_3 n4_2 n5_3 n1_2 n3_2 ))
(assert (or (not n3_3 ) (not n2_1 ) (not n7_2 ) n2_2 n0_2 n1_1 n6_3 n5_1 n4_1 n4_3 n2_3 n0_3 n5_2 n6_2 n6_1 n0_1 n7_3 n7_1 n1_3 n4_2 n5_3 n1_2 n3_1 n3_2 ))
(assert (or (not n1_1 ) (not n2_3 ) (not n6_2 ) n2_2 n0_2 n6_3 n5_1 n4_1 n3_3 n4_3 n0_3 n5_2 n6_1 n0_1 n7_3 n7_1 n2_1 n1_3 n4_2 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n6_3 ) (not n2_1 ) (not n1_2 ) n2_2 n0_2 n1_1 n5_1 n4_1 n3_3 n4_3 n2_3 n0_3 n5_2 n6_2 n6_1 n0_1 n7_3 n7_1 n1_3 n4_2 n5_3 n7_2 n3_1 n3_2 ))
(assert (or (not n0_2 ) (not n4_3 ) (not n6_1 ) n2_2 n1_1 n6_3 n5_1 n4_1 n3_3 n2_3 n0_3 n5_2 n6_2 n0_1 n7_3 n7_1 n2_1 n1_3 n4_2 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n0_2 ) (not n5_1 ) (not n4_3 ) n2_2 n1_1 n6_3 n4_1 n3_3 n2_3 n0_3 n5_2 n6_2 n6_1 n0_1 n7_3 n7_1 n2_1 n1_3 n4_2 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n4_3 ) (not n2_1 ) (not n7_2 ) n2_2 n0_2 n1_1 n6_3 n5_1 n4_1 n3_3 n2_3 n0_3 n5_2 n6_2 n6_1 n0_1 n7_3 n7_1 n1_3 n4_2 n5_3 n1_2 n3_1 n3_2 ))
(assert (or (not n2_2 ) (not n4_3 ) (not n7_1 ) n0_2 n1_1 n6_3 n5_1 n4_1 n3_3 n2_3 n0_3 n5_2 n6_2 n6_1 n0_1 n7_3 n2_1 n1_3 n4_2 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n2_2 ) (not n4_3 ) (not n6_1 ) n0_2 n1_1 n6_3 n5_1 n4_1 n3_3 n2_3 n0_3 n5_2 n6_2 n0_1 n7_3 n7_1 n2_1 n1_3 n4_2 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n2_2 ) (not n6_1 ) (not n5_3 ) n0_2 n1_1 n6_3 n5_1 n4_1 n3_3 n4_3 n2_3 n0_3 n5_2 n6_2 n0_1 n7_3 n7_1 n2_1 n1_3 n4_2 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n2_2 ) (not n3_3 ) (not n7_1 ) n0_2 n1_1 n6_3 n5_1 n4_1 n4_3 n2_3 n0_3 n5_2 n6_2 n6_1 n0_1 n7_3 n2_1 n1_3 n4_2 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n2_2 ) (not n0_3 ) (not n6_1 ) n0_2 n1_1 n6_3 n5_1 n4_1 n3_3 n4_3 n2_3 n5_2 n6_2 n0_1 n7_3 n7_1 n2_1 n1_3 n4_2 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n2_2 ) (not n4_1 ) (not n7_3 ) n0_2 n1_1 n6_3 n5_1 n3_3 n4_3 n2_3 n0_3 n5_2 n6_2 n6_1 n0_1 n7_1 n2_1 n1_3 n4_2 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n2_2 ) (not n7_3 ) (not n3_1 ) n0_2 n1_1 n6_3 n5_1 n4_1 n3_3 n4_3 n2_3 n0_3 n5_2 n6_2 n6_1 n0_1 n7_1 n2_1 n1_3 n4_2 n5_3 n7_2 n1_2 n3_2 ))
(assert (or (not n2_2 ) (not n6_1 ) (not n1_3 ) n0_2 n1_1 n6_3 n5_1 n4_1 n3_3 n4_3 n2_3 n0_3 n5_2 n6_2 n0_1 n7_3 n7_1 n2_1 n4_2 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(assert (or (not n2_2 ) (not n1_1 ) (not n6_3 ) n0_2 n5_1 n4_1 n3_3 n4_3 n2_3 n0_3 n5_2 n6_2 n6_1 n0_1 n7_3 n7_1 n2_1 n1_3 n4_2 n5_3 n7_2 n1_2 n3_1 n3_2 ))
(check-sat)
(get-model)
